.titulo-terror{
    text-align: center;
}
.pelis-terror{
    padding: 20px;
    .img-terror{
        margin-bottom: 50px;
        width: 100%;
        height: 98%;
        @media(min-width:1200px){
            height: 600px;
            margin-bottom: 50px;
        }
    }
}